<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Developers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
  </configSections>  
  <connectionStrings>
    <add name="Developers.Properties.Settings.ConnectionString" connectionString="server=127.0.0.1;User Id=root;database=dbtpv;password=; Min Pool Size=15; Max Pool Size=24;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <userSettings>
    <Developers.Properties.Settings>
      <setting name="Usuario_Activo" serializeAs="String">
        <value/>
      </setting>
      <setting name="Usuario_Pass" serializeAs="String">
        <value/>
      </setting>
      <setting name="Usuario_Rol" serializeAs="String">
        <value/>
      </setting>
      <setting name="Serial" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Impresora" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="InstPrev" serializeAs="String">
        <value>False</value>
      </setting>
    </Developers.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient"/>
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient"/>
		</DbProviderFactories>
	</system.data></configuration>
